<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-sm mr-1" type="button" 
      (click)="startLogging()" 
      [disabled]="logging"
      [ngClass]="{'btn-success': !logging, 'btn-outline-success': logging}">Start</button>
    <button class="btn btn-sm mr-1"  type="button" 
      (click)="stopLogging()" 
      [disabled]="!logging"
      [ngClass]="{'btn-danger': logging, 'btn-outline-danger': !logging}">Stop</button>

    <button class="btn btn-sm mr-1 btn-outline-info"  type="button" (click)="clearLogs()">Clear</button>
    <span *ngIf="error">
      {{error}}
    </span>
  </form>
</nav>
<div class="table-responsive" (swipe)="onSwipe($event)">
  <table class="table table-bordered afr-table">
    <thead>
      <tr>
        <th scope="col" style="width: 8.33%; text-align: right">RPM</th>
        <th scope="col" style="width: 8.33%; text-align: center" *ngFor="let load of loadCells">
          {{load}}%
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rpm of rpmCells">
        <th scope="row afr-table-cell" style="text-align: right">{{rpm}}</th>
        <td class="table-secondary afr-table-cell" [ngStyle]="{'background-color': getCellBackgroundColor(rpm, load)}" *ngFor="let load of loadCells">
          {{getCellHit(rpm, load)}}
        </td>
      </tr>
    </tbody>
  </table>
</div>